

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">
        <% if user_signed_in?%>
            <h1>
                Thanks for being a part of the community
            </h1>
            <%else%>
            <h1>
                <%= link_to "Sign in", new_user_session_path %></h1>
            <h1>
                <%= link_to "Sign up", new_user_registration_path %></h1>
            <%end%></h1>
    </div>
</div>
